<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class='mr-4'href="/"><img src="https://www.essystem.com.br/wp-content/uploads/2015/04/logoweb.png" width="160" height="67" alt="Essystem"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse col-5" id="navbarSupportedContent">
    <ul class="navbar-nav mr-md-5 col-2">
      <li class="nav-item active">
        <a class="nav-link" href="/">Perfil<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/postagens">Protocolos</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/categorias">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/ajuda">Ajuda</a>
      </li>     
    </ul>
    <form class="form-inline row mx-auto">
    <a href="/login"><button class="btn btn-outline-success mr-2 ml-0" type="button">Login</button></a>
    <a href="/usuario/registro"><button class="btn btn-sm btn-outline-secondary mt-1" type="button">Registro</button></a>
  </form>
  </div>
<div class="container ml-5 pl-5">
   <div class="col-11 ml-5 pl-5">
  <form class="col-12 row mx-auto p-3"action="/admin/search" method="get">
     <input class="col form-control mr-sm-2 ml-5 text-center" id="search" name="search" type="search" placeholder="Pesquisa de protocolos" aria-label="Search">
    <button url="/admin/search "method="get" class="btn btn-outline-success ml-2" type="submit">Pesquisar</button>
    </form>
    </div>
    </div>
</nav>